<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/cadastrar/produto" method="POST">
        <label>
            Id:
            <input type="text" name="id" placeholder="Insira o id do produto">
        </label>
        <label>
            Nome:
            <input type="text" name="nome" placeholder="Insira o nome do produto">
        </label>
        <label>
            Imagem:
            <input type="text" name="img" placeholder="Insira a imagem do produto">
        </label>
        <label>
            Descrição:
            <input type="text" name="descricao" placeholder="Insira o id do produto">
        </label>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>