*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.container {
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(162, 17, 246, 0.686);
    padding: 20px;
}

header h1 {
    color:white;
    text-transform: uppercase;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    padding: 1rem
}

header nav a {
    color:white;
    font-weight: bold;
}

header nav a:hover{
    font-size: 22px;
    transition: all 1s;
    border-bottom: 5px solid blueviolet;
}

header nav a:not(:hover){
    font-size: 16px;
    transition-delay: 0.7s;
    transition: all 1s;
}

.title {
    margin: 10px;
    padding: 1rem;
}

.products {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem;
    width: 100%;
}

.products .cards {
    border: 1px solid blueviolet;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 1.9rem;
    height: 500px;
}

.products .cards h2 {
    margin: 1rem 0;
}

.products .cards img {
    width: 100%;
    max-height: 300px;

}

.products .cards span {
    margin: 1rem;
    width: 90%;
}
